<% @messages.each do |message| %>
  <div class="posts-index-item">
    <% if message.user.profile_picture.attached? %>
      <%= link_to image_tag(message.user.profile_picture), user_path(message.user) %>
    <% else %>
      <%= link_to image_tag("speak.svg"), user_path(message.user) %>
    <% end %>
    <div>
      <%= link_to message.user.full_name, user_path(message.user), class: "user-full-name" %>
      <%= link_to "@#{message.user.name}", user_path(message.user), class: "user-name" %>
      <br />
      <%= message.content %>
      <br />
      <!-- もし対象のメッセージに良いね済みの場合は取り消しボタン -->
      <%=
        link_to(
          content_tag(:i, "", class:"fas fa-heart fa-lg"),
          favors_path(message_id: message.id), method: :delete
        )
      %>
      <!-- もし対象のメッセージに良いねをしていなければ良いねボタン -->
      <%=
        link_to(
          content_tag(:i, "", class:"far fa-heart fa-lg"),
          favors_path(message_id: message.id), method: :post
        )
      %>
      <!-- 良いねの総件数 -->
      <%=
        tag.span(
          message.favors.count, class: "favor-count"
        )
      %>
    </div>
    <% if message.user == current_user %>
      <%=
        link_to(content_tag(:i, "", class: "fa fa-trash-o fa-lg"),
        message_path(id: message.id), method: :delete,
        data: { confirm: "このメッセージを本当に削除しますか？" })
      %>
    <% end %>
  </div>
<% end %>

<%= paginate @messages %>
