<% @messages.each do |message| %>
  <div class="posts-index-item">
    <% if message.user.profile_picture.attached? %>
      <%= link_to image_tag(message.user.profile_picture), user_path(message.user) %>
    <% else %>
      <%= link_to image_tag("speak.svg"), user_path(message.user) %>
    <% end %>
    <div>
      <%= link_to message.user.full_name, user_path(message.user), class: "user-full-name" %>
      <%= link_to "@#{message.user.name}", user_path(message.user), class: "user-name" %>
      <br />
      <%= message.content %>
      <br />
      <% if message.favored_by?(current_user) %>
        <%=
          link_to(
            content_tag(:i, "", class:"fas fa-heart fa-lg"),
            favors_path(message_id: message.id), method: :delete
          )
        %>
      <% else %>
        <%=
          link_to(
            content_tag(:i, "", class:"far fa-heart fa-lg"),
            favors_path(message_id: message.id), method: :post
          )
        %>
      <% end %>
      <%=
        tag.span(
          message.favors.count, class: "favor-count",
          data: {
            message_id: message.id,
            path: api_favors_count_path(message_id: message.id)
          }
        )
      %>
    </div>
    <% if message.user == current_user %>
      <%=
        link_to(content_tag(:i, "", class: "fa fa-trash-o fa-lg"),
        message_path(id: message.id), method: :delete,
        data: { confirm: "このメッセージを本当に削除しますか？" })
      %>
    <% end %>
  </div>
<% end %>

<%= paginate @messages %>
